<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Table with sorting</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body class="mat-typography mat-app-background">
    <mat-toolbar color="accent" clas="main-toolbar">
      <span>Sales Date Prediction App</span>
    </mat-toolbar>
    <mat-form-field>
      <mat-label>Customer Name</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput (keyup)="applyFilter($event)" />
    </mat-form-field>

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="companyName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by Customer Name"
        >
          Customer Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastOrderDate">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by Last Order Date"
        >
          Last Order Date
        </th>
        <td mat-cell *matCellDef="let element">{{ element.lastOrderDate }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="nextPredictedOrder">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by Next Predicted Order"
        >
          Next Predicted Order
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.nextPredictedOrder }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">    <button mat-button (click)="viewOrders(element.custId, element.companyName)">View Orders</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="action2">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="warn" (click)="createOrder(element.custId, element.companyName)">New Order</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </body>
</html>
