.container {
  margin: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  gap: 20px;
}

mat-form-field {
  flex: 1;
}

.full-width {
  width: 100%;
}

.action-buttons {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px;
}
