table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.action-buttons {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px;
}
